# The Site Configuration

# Import the theme
theme: jekyll-theme-chirpy

# The language of the webpage › http://www.lingoes.net/en/translator/langcode.htm
lang: en

# Change to your timezone › https://kevinnovak.github.io/Time-Zone-Picker
timezone: Africa/Nairobi

# jekyll-seo-tag settings
title: ray1e # the main title
tagline: I post blogs and stuff # it will display as the subtitle
description: >- # used by seo meta and the atom feed
  blogs, ray1e, github, cybersecurity

url: "https://ray1e.github.io"

github:
  username: ray1e

twitter:
  username: 0xray1e

social:
  name: 0xray1e
  links:
    - https://twitter.com/0xray1e
    - https://github.com/ray1e
    - https://www.linkedin.com/in/collins-k-kimani

# Web Analytics Settings
analytics:
  google:
    id: 
  umami:
    id: 
    domain: 

pageviews:
  provider: 

theme_mode: # [light | dark]

avatar: https://github.com/ray1e/ray1e.github.io/blob/f9f7dc9d876b45855915e1c161e77f412cbd6c95/assets/profile-photo.jpg?raw=true

toc: true

comments:
  provider: # [disqus | utterances | giscus]

assets:
  self_host:
    enabled: 

pwa:
  enabled: true 
  cache:
    enabled: true 
    # FIX: Added /admin to deny_paths to prevent Service Worker from blocking Sveltia CMS
    deny_paths:
      - "/admin"

paginate: 10
baseurl: ""

# ------------ The following options are not recommended to be modified ------------------

kramdown:
  footnote_backlink: "&#8617;&#xfe0e;"
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    css_class: highlight
    block:
      line_numbers: true
      start_line: 1

collections:
  tabs:
    output: true
    sort_by: order

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      comments: true 
      toc: true 
      permalink: /posts/:title/
  - scope:
      path: _drafts
    values:
      comments: false
  - scope:
      path: ""
      type: tabs
    values:
      layout: page
      permalink: /:title/

sass:
  style: compressed

compress_html:
  clippings: all
  comments: all
  endings: all
  profile: false
  blanklines: false
  ignore:
    envs: [development]

exclude:
  - "*.gem"
  - "*.gemspec"
  - docs
  - tools
  - README.md
  - LICENSE
  - purgecss.js
  - "*.config.js"
  - "package*.json"

jekyll-archives:
  enabled: [categories, tags]
  layouts:
    category: category
    tag: tag
  permalinks:
    tag: /tags/:name/
    category: /categories/:name/